<%= provide(:title, "About") %>

<div class="about jumbotron container">
	
	<div class="left_bio">
		<h1>about me.</h1>
		<h2>I am a Computer Science student in my final year at Carleton University.</h2>
		<p>I am a robot sent to turn coffee into code. When I'm not programming you can find me at my day job as a fashion police. I am still waiting for a worthy opponent to beat me in music trivia (I listen to a lot of music). Programming, tech, photography, graphic Design, cars, music, and drinking many beers are some of 
		my many hobbies. Lets grab a beer, or hit up a concert!  </p>
	</div>

	<div class="right_bio">
		<%= image_tag("test_image.png", alt:"My Picture") %>
	</div>
	
</div>
