@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	padding-top: 9px;
	padding-bottom: 9px;
}

.navbar-default .navbar-nav > li > a {
    color: #f5512e;
    padding: 25px 25px 0px 25px;
   
}

.btn {
	
	background:none;
	border: 2px solid #f5512e;
	color: #f5512e;

	&:hover{
		background:none;
		border: 2px solid #000;
		color: #000;
	}
}
		
/* footer */

footer {
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #222;

	ul{
		margin-top: 5px;
		padding-left: 0px;
	}

	li{
		display: inline;
		padding: 2.5px;
		
	}

	h2 { 
		color: #f3d527;
		margin-top: 0px;
	}

}
 
/* portfolio_bar */

.portfolio_bar {
	
	padding-top: 25px;
	h2 {
		color:#f5512e;
	}

	li{
			display:inline-block;
			margin: 25px;
	}

	p {
		padding-top: 20px;
		font-weight: bold;
		color: #8C001A;
		font-size: .8em;
	}
	
}

/* portfolio */


.portfolio {
	
	padding: 25px;
	h1 {
		border-bottom: 2px solid #222;
		padding-bottom: 25px;
	}

	ul{
		padding: 25px;
		
		li {

			margin: 20px;
			display: inline-block;
			border-radius: 2px;
    		background: #f3d527;
    		width: 300px;
    		height: 250px;
    		float: none;

		}
	}
}


.picture {
	img{
		padding-top: 10px;	
	}
}

.details {
	padding-left: 15px;
	h2{
		text-align: left;
		color: #111;
		margin-top: 10px;
		color:#f5512e;
	}
	
}


.container {
	width: 100%;
}
body {
	padding-top: 60px;
}

section{
	overflow: auto;
}

textarea{
	resize: verticle;
}

.center {
	text-align: center;
	background-color: #f3d527;
	
	h1 {
		margin-bottom: 10px;
		color: #f5512e;
	}
}

.about {
	background-color: #f3d527;
}

.left_bio {

	float: left;
	padding-left: 100px;
	width: 50%;
	h1 {
		margin-bottom: 10px;
		color: #f5512e;
		text-align: left;
	}
	h2 {
		font-weight: lighter;
		font-size: 1.5em;
		text-align: left;
	}

	p {
		font-size:1.2em;
		text-align: justify;
	}
}

.right_bio {
	padding-top: 60px;
	float: right;
	padding-right: 100px;
	width: 50%;

}



